<STYLE TYPE="text/css">
BODY {background-color:RGB(d3,d3,d3); color:black}
H1 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
H2 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
H3 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
H4 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
H5 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
B { font-weight: bold; color: red }
U { font-style: italic; color: green }
DIV {color: black; font-family: "Times New Roman", Times, "Century Schoolbook", "Baskerville Old Face", Serif; color: black font-style:normal; font-weight: normal}
</STYLE>