<STYLE TYPE="text/css">
H1 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
h1 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
H2 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
H3 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
H4 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
H5 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
B { font-weight: bold; color: black }
U { font-style: italic; color: black }
FONT { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
STRONG { font-weight: bold; color: black }
EM { font-style: italic; color: black }
DIV {color: black; font-family: "Times New Roman", Times, "Century Schoolbook", "Baskerville Old Face", Serif; color: black font-style:normal; font-weight: normal}
A.link { color: blue; font-weight : bold }
A.visited { color : purple; font-weight : bold }
A.Active { color : blue; font-weight : bold }
h2 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
h3 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
h4 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
h5 { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
b { font-weight: bold; color: black }
u { font-style: italic; color: black }
font { font-family: Helvetica, Arial, Verdana; font-weight: bolder; color:blue}
strong { font-weight: bold; color: black }
em { font-style: italic; color: black }
div {color: black; font-family: "Times New Roman", Times, "Century Schoolbook", "Baskerville Old Face", Serif; color: black font-style:normal; font-weight: normal}
a.link { color: blue }
a.visited { color : purple}
a.Active { color : blue}
</STYLE>