"[ver]\n\t4\n[sty]\n\n[files]\n[toc]\n\tTOC  1\n\tTOC  2\n\t"
"TOC  3\n\n\n\n\t63\n[prn]\n\tPCL  /  HP  LaserJet\n[lang]\n\t"
"1\n[fopts]\n\t4\n\t1\n\t2880\n\t0\n[lnopts]\n\t0\n\tBody "
" Text\n[docopts]\n\t5\n\t2\n[tag]\n\tBody  Text\n\t2\n\t[fnt]\n\t\t"
"Courier\n\t\t240\n\t\t0\n\t\t32768\n\t[algn]\n\t\t224\n\t\t"
"1\n\t\t0\n\t\t0\n\t\t0\n\t[spc]\n\t\t33\n\t\t273\n\t\t1\n\t\t"
"0\n\t\t0\n\t\t1\n\t\t100\n\t[brk]\n\t\t4\n\t[line]\n\t\t8\n\t\t"
"0\n\t\t1\n\t\t0\n\t\t1\n\t\t1\n\t\t1\n\t\t10\n\t\t10\n\t\t"
"1\n\t[spec]\n\t\t0\n\t\t0\n\t\t\n\t\t0\n\t\t1\n\t\t0\n\t\t"
"0\n\t\t2\n\t\t0\n\t\t0\n\t[nfmt]\n\t\t272\n\t\t1\n\t\t2\n\t\t"
".\n\t\t,\n\t\t$\n[tag]\n\tTOC  1\n\t2\n\t[fnt]\n\t\tCourier\n\t\t"
"240\n\t\t0\n\t\t32768\n\t[algn]\n\t\t224\n\t\t1\n\t\t0\n\t\t"
"0\n\t\t0\n\t[spc]\n\t\t33\n\t\t273\n\t\t1\n\t\t0\n\t\t0\n\t\t"
"1\n\t\t100\n\t[brk]\n\t\t4\n\t[line]\n\t\t8\n\t\t0\n\t\t1\n\t\t"
"0\n\t\t1\n\t\t1\n\t\t1\n\t\t10\n\t\t10\n\t\t1\n\t[spec]\n\t\t"
"0\n\t\t0\n\t\t\n\t\t0\n\t\t1\n\t\t0\n\t\t0\n\t\t2\n\t\t0\n\t\t"
"0\n\t[nfmt]\n\t\t272\n\t\t1\n\t\t2\n\t\t.\n\t\t,\n\t\t$\n"
"[tag]\n\tTOC  2\n\t2\n\t[fnt]\n\t\tCourier\n\t\t240\n\t\t"
"0\n\t\t32768\n\t[algn]\n\t\t224\n\t\t1\n\t\t0\n\t\t0\n\t\t"
"0\n\t[spc]\n\t\t33\n\t\t273\n\t\t1\n\t\t0\n\t\t0\n\t\t1\n\t\t"
"100\n\t[brk]\n\t\t4\n\t[line]\n\t\t8\n\t\t0\n\t\t1\n\t\t0\n\t\t"
"1\n\t\t1\n\t\t1\n\t\t10\n\t\t10\n\t\t1\n\t[spec]\n\t\t0\n\t\t"
"0\n\t\t\n\t\t0\n\t\t1\n\t\t0\n\t\t0\n\t\t2\n\t\t0\n\t\t0\n\t"
"[nfmt]\n\t\t272\n\t\t1\n\t\t2\n\t\t.\n\t\t,\n\t\t$\n[tag]\n\t"
"TOC  3\n\t2\n\t[fnt]\n\t\tCourier\n\t\t240\n\t\t0\n\t\t32768\n\t"
"[algn]\n\t\t224\n\t\t1\n\t\t0\n\t\t0\n\t\t0\n\t[spc]\n\t\t"
"33\n\t\t273\n\t\t1\n\t\t0\n\t\t0\n\t\t1\n\t\t100\n\t[brk]\n\t\t"
"4\n\t[line]\n\t\t8\n\t\t0\n\t\t1\n\t\t0\n\t\t1\n\t\t1\n\t\t"
"1\n\t\t10\n\t\t10\n\t\t1\n\t[spec]\n\t\t0\n\t\t0\n\t\t\n\t\t"
"0\n\t\t1\n\t\t0\n\t\t0\n\t\t2\n\t\t0\n\t\t0\n\t[nfmt]\n\t\t"
"272\n\t\t1\n\t\t2\n\t\t.\n\t\t,\n\t\t$\n[lay]\n\tStandard\n\t"
"513\n\t[rght]\n\t\t15840\n\t\t12240\n\t\t1\n\t\t%d\n\t\t1440\n\t\t"
"1\n\t\t1440\n\t\t%d\n\t\t2\n\t\t1\n\t\t0\n\t\t1\n\t\t1\n\t\t"
"2\n\t\t1\n\t\t1440\n\t\t10800\n\t\t10\n\t\t1\n\t\t720\n\t\t"
"1\n\t\t1440\n\t\t1\n\t\t2160\n\t\t1\n\t\t2880\n\t\t1\n\t\t"
"3600\n\t\t1\n\t\t4320\n\t\t1\n\t\t5040\n\t\t1\n\t\t5760\n\t\t"
"1\n\t\t6480\n\t\t1\n\t\t7200\n\t[hrght]\n\t[lyfrm]\n\t\t1\n\t\t"
"11200\n\t\t0\n\t\t0\n\t\t12240\n\t\t1440\n\t\t1\n\t\t1\n\t\t"
"3\n\t\t1\n\t\t0\n\t\t0\n\t\t0\n\t[frmlay]\n\t\t1440\n\t\t"
"12240\n\t\t1\n\t\t1440\n\t\t72\n\t\t1\n\t\t360\n\t\t1440\n\t\t"
"0\n\t\t1\n\t\t0\n\t\t1\n\t\t1\n\t\t0\n\t\t1\n\t\t1440\n\t\t"
"10800\n\t\t0\n\t[txt]\n>\n\t[frght]\n\t[lyfrm]\n\t\t1\n\t\t"
"13248\n\t\t0\n\t\t14400\n\t\t12240\n\t\t15840\n\t\t1\n\t\t"
"1\n\t\t3\n\t\t1\n\t\t0\n\t\t0\n\t\t0\n\t[frmlay]\n\t\t15840\n\t\t"
"12240\n\t\t1\n\t\t1440\n\t\t360\n\t\t1\n\t\t14472\n\t\t1440\n\t\t"
"0\n\t\t1\n\t\t0\n\t\t1\n\t\t1\n\t\t0\n\t\t1\n\t\t1440\n\t\t"
"10800\n\t\t0\n\t[txt]\n>\n[elay]\n[l1]\n\t0\n[edoc]\n<:f240,2Tms "
" Rmn,,,>\nÿ"